.dtu-red-bar {
  background-color: $brand-primary;
  background-image: image_url('dtu_rails_common/header_bg.png');
  background-repeat: repeat-x;
  line-height: 35px;
  font-size: 12px;
  height: 35px;
  color: #fff;

  a {
    color: #fff;

    &:hover {
      color: #fff;
    }
  }
}
